{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-sm mt-4 position-relative">
    <div class="d-flex justify-content align-items-center">
        <div class="col-md-9">
            <div class="card shadow-lg p-4 ms-3">
                <h2 class="text-center mb-4">📦 Solicitar Muestras</h2>

                <form method="POST" class="needs-validation">
                    {% csrf_token %}

                    <div class="row">
                        <!-- Primera Columna -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.cliente.id_for_label }}" class="form-label">Cliente:</label>
                                {{ form.cliente }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.comercial.id_for_label }}" class="form-label">Comercial:</label>
                                {{ form.comercial }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.color.id_for_label }}" class="form-label">Color (solo números):</label>
                                {{ form.color }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.metros_solicitados.id_for_label }}" class="form-label">Metros Solicitados:</label>
                                {{ form.metros_solicitados }}
                            </div>
                        </div>

                        <!-- Segunda Columna -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.referencia.id_for_label }}" class="form-label">Referencia:</label>
                                {{ form.referencia }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.tipo.id_for_label }}" class="form-label">Tipo:</label>
                                {{ form.tipo }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.hdr.id_for_label }}" class="form-label">HDR:</label>
                                {{ form.hdr }}
                            </div>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary px-5">💾 Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="opacity: 0.2;">
        <img src="{% static 'img/logo.png' %}" alt="Logo Empresa" width="180">
    </div>
</div>
{% endblock %}
