{% extends "muestras_balalaika/base.html" %}

{% block title %}Seguimiento de Muestras{% endblock %}

{% block content %}
    <h2>Seguimiento de Muestras</h2>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Fecha Solicitud</th>
                    <th>Comercial</th>
                    <th>Cliente</th>
                    <th>Referencia</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for muestra in muestras %}
                <tr>
                    <td>{{ muestra.fecha_solicitud }}</td>
                    <td>{{ muestra.comercial }}</td>
                    <td>{{ muestra.cliente }}</td>
                    <td>{{ muestra.referencia }}</td>
                    <td>
                        {% if muestra.estado == "SOLICITADA" %}
                            <span class="badge bg-warning">{{ registro.estado }}</span>
                        {% elif muestra.estado == "EN PROCESO" %}
                            <span class="badge bg-primary">{{ muestra.estado }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if muestra.estado == "SOLICITADA" %}
                        <a href="{% url 'actualizar_muestra' registro.pk %}" class="btn btn-primary btn-sm">A proceso</a>
                        <a href="{% url 'marcar_sin_existencia' registro.pk %}" class="btn btn-danger btn-sm">Sin Existencia</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">No hay muestras en estado SOLICITADA o EN PROCESO.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
